<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="icon" type="image/x-icon" href="static/images/Favicon.jpg"> -->
    <title>Covid Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
         <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi this is Covidbot , Ask your queries regarding Covid !</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" name="message" class="form-control" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div id="myDiv">
            <div class="chatbox__button">
                <button><img class="message_button" src="static/images/bot.gif"/></button>
            </div>
            <div class="Text">
                Hi ! I am your <span style="color:rgb(138, 138, 138)">Virtual Assistant</span> <span style="color:rgb(78, 78, 243)">CovidBot</span>
            </div>
        </div>
    </div>
</div>

    <script src="static/app.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
 
  


